// Offer Sec 
.offer-sec {
    padding: 150px 0 134px;

    @include sm {
        padding: 90px 0;
    }

    & .section_title {
        & h2 {
            margin: 0;

            @include sm {
                font-size: 40px;
                line-height: 1;
            }

            @include col {
                font-size: 34px;
            }
        }

        & h1 {
            color: $primary-color;
            font-size: 60px;
            line-height: 60px;
            margin: 0 0 30px;
            letter-spacing: -1.2px;

            @include sm {
                font-size: 40px;
                margin-bottom: 20px;
                line-height: 1;
            }

            @include col {
                font-size: 34px;
            }
        }

        & p {
            border-bottom: 1px solid rgba(24, 24, 24, .1);
            padding: 0px 0 56px;
            margin: 0 0 88px;
        }
    }

    & .offer-item {
        position: relative;
        text-align: center;
        margin: 0 0 32px;

        & span {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 110px;
            height: 110px;
            background: -webkit-linear-gradient(315deg, #a6e72a 0%, #53ba00 100%);
            background: linear-gradient(135deg, #a6e72a 0%, #53ba00 100%);
            color: #000;
            font-size: 64px;
            border-radius: 50%;
            margin: 0 0 20px;
        }

        & h4 {
            font-size: 20px;
            line-height: 20px;
            color: #000;
            margin: 0 0 20px;
        }

        & p {
            font-size: 14px;
            line-height: 21px;
        }
    }
}