.subscribe_sec {
    padding: 100px 0;
    background-color: $white-color;

    & .section_title {
        text-align: center;

        & h2 {
            color: $primary-color;
        }

        & p {
            color: $primary-color;
        }
    }

    & .subscribe_form form {
        margin-top: 56px;
        @include displaFlex(inline-flex, start, center, row);
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;

        & input:not([type='checkbox']):not([type='radio']) {
            border-radius: 50px;
            font-size: 16px;
            line-height: 52px;
            padding: 0 20px;
            color: $heading-color;
            font-family: $primary-font;
            border: 1px solid rgba(24, 24, 24, .1);
            width: 340px;
            outline: unset;
            box-shadow: unset;

            @include col {
                width: 100%;
            }
        }

        & input:placeholder {
            color: $heading-color;
        }

        button[type="submit"] {
            outline: unset;
            border: unset;
            box-shadow: unset;
            padding: 0 45px;
        }

        @include col {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            row-gap: 18px;
        }
    }
}

// Subcribe Sec 02
.subscribe_sec02 {
    padding: 100px 0;
    background: -webkit-linear-gradient(315deg, #a6e72a 20%, #53ba00 80%);
    background: linear-gradient(135deg, #a6e72a 20%, #53ba00 80%);
}