.tranding_page {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 140px 24px 140px;
    @include md {
        padding: 100px 14px 100px;
    }
    & .section_title {
        margin: 0 0 60px;
        @include sm {
            margin: 0 0 20px;
        }
        & h2 {
            & b {
                font-weight: 700;
                color: $primary-color;
            }
        }
        & p {
            font-size: 20px;
            line-height: 30px;
            font-weight: 300;
        }
    }
}
.offer-tranding {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 40px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 50px;
    padding: 120px 14px 120px;
}