/*--------------------------------------------------------------
# Utility
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #181818;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #181818;
  line-height: 1.1;
  font-family: "Raleway", sans-serif;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
}

.mr-20 {
  margin-right: 20px;
}

.mt-86 {
  margin-top: 86px;
}

.mb-86 {
  margin-bottom: 86px;
}

.gx-20 {
  --bs-gutter-x: 20px;
}

.gy-20 {
  --bs-gutter-y: 20px;
}

/*--------------------------------------------------------------
# BreakPoient
--------------------------------------------------------------*/
.bg_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.trackon_btn_1,
.trackon_btn_2 {
  position: relative;
  padding: 0 32px;
  border-radius: 50px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  height: 56px;
  line-height: 56px;
  font-weight: 700;
  background: #53ba00;
  color: #FFFFFF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 0 rgba(24, 24, 24, 0.3);
  overflow: hidden;
}
.trackon_btn_1::after,
.trackon_btn_2::after {
  position: absolute;
  content: "";
  bottom: 0;
  top: 0;
  left: -60px;
  width: 50px;
  height: 100%;
  z-index: 1;
  display: block;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  -webkit-transition: 350ms ease all;
  -moz-transition: 350ms ease all;
  transition: 350ms ease all;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: 0ms ease all;
  -moz-transition: 0ms ease all;
  transition: 0ms ease all;
  opacity: 0.5;
}
.trackon_btn_1:hover::after,
.trackon_btn_2:hover::after {
  left: 110%;
  -webkit-transition: 800ms ease all;
  -moz-transition: 800ms ease all;
  transition: 800ms ease all;
  opacity: 0.2;
}
.trackon_btn_1:hover,
.trackon_btn_2:hover {
  background: #48a100 !important;
  box-shadow: 0 3px 10px rgba(24, 24, 24, 0.3);
}

.trackon_btn_2 {
  background: #a6e72a;
  color: #181818;
}
.trackon_btn_2:hover {
  background: #53ba00;
}

.trackon_btn_3 {
  position: relative;
  padding: 0 32px;
  border-radius: 50px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  height: 56px;
  line-height: 56px;
  font-weight: 700;
  background: transparent;
  color: #181818;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  box-shadow: 0 0 0 2px #181818 inset;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}
.trackon_btn_3::before {
  position: absolute;
  content: "";
  bottom: 0;
  top: 0;
  left: -60px;
  width: 50px;
  height: 100%;
  z-index: 1;
  display: block;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  -webkit-transition: 350ms ease all;
  -moz-transition: 350ms ease all;
  transition: 350ms ease all;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: 0ms ease all;
  -moz-transition: 0ms ease all;
  transition: 0ms ease all;
  opacity: 0.5;
}
.trackon_btn_3:hover::before {
  left: 110%;
  -webkit-transition: 800ms ease all;
  -moz-transition: 800ms ease all;
  transition: 800ms ease all;
  opacity: 0.2;
}
.trackon_btn_3:hover {
  color: #a6e72a !important;
  box-shadow: 0 0 0 2em #181818 inset, 0 3px 10px rgba(24, 24, 24, 0.3);
}

.section_title {
  position: relative;
}
.section_title h2 {
  font-size: 60px;
  line-height: 1;
  font-weight: 300;
  margin-bottom: 30px;
}
.section_title p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.filter_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.filter_nav li {
  padding: 10px 20px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
.filter_nav li::after {
  position: absolute;
  display: block;
  content: "";
  left: 1.25rem;
  right: 1.25rem;
  bottom: 7px;
  height: 2px;
  background: transparent;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 200ms ease all;
  -moz-transition: 200ms ease all;
  transition: 200ms ease all;
}
.filter_nav li:hover:after, .filter_nav li.active:after {
  background: #53ba00;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.main_header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: auto;
  background: transparent;
  z-index: 99997;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
}
.main_header__nav {
  position: relative;
}
.main_header__nav ul {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  column-gap: 40px;
}
.main_header__nav li.logo a {
  padding: 0;
}
.main_header__nav li.logo a img {
  min-height: 130px;
}
.main_header__nav li.logo .sticky-logo {
  display: none;
}
.main_header__nav li a {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  padding: 22.5px 0;
  color: #181818;
  position: relative;
  display: block;
  white-space: nowrap;
  text-transform: uppercase;
}
.main_header__nav li a::before {
  position: absolute;
  left: -20px;
  top: 0;
  right: -20px;
  bottom: 0;
  display: block;
  content: "";
  background: #FFFFFF;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 200ms ease opacity;
  -moz-transition: 200ms ease opacity;
  transition: 200ms ease opacity;
}
.main_header__nav li a::after {
  content: " ";
  display: block;
  position: absolute;
  z-index: 5;
  bottom: 13px;
  left: 0;
  right: 0;
  pointer-events: none;
  height: 2px;
  background-color: #53ba00;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 200ms ease all;
  -moz-transition: 200ms ease all;
  transition: 200ms ease all;
}
.main_header__nav li a:hover:after, .main_header__nav li a.active:after {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  background: #53ba00;
}
.main_header__nav li a:hover:before {
  opacity: 1;
}
.main_header__nav li.logo {
  width: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_header__nav li.logo a::after, .main_header__nav li.logo a::before {
  display: none;
}
.main_header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  column-gap: 18px;
}
.main_header__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  column-gap: 18px;
}
.main_header__social li a {
  font-size: 13px;
  color: #181818;
}
.main_header__social li a:hover {
  color: #53ba00;
}
.main_header__search {
  font-size: 13px;
  color: #181818;
}
.main_header__search:hover {
  color: #53ba00;
}

.main_header.trk_header_sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99998;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 0 35px 0 rgba(24, 24, 24, 0.15);
  box-shadow: 2px 0 35px 0 rgba(24, 24, 24, 0.15);
}
.main_header.trk_header_sticky li.logo > a {
  display: none;
}
.main_header.trk_header_sticky li.logo a.sticky-logo {
  display: block;
  padding: 0;
}
.main_header.trk_header_sticky li.logo a.sticky-logo img {
  height: 78px;
  min-height: unset;
}

.footer_one {
  padding: 30px 0;
  background-color: #FFFFFF;
}
.footer_one .footer_nav_widgets {
  padding-top: 12px;
}
.footer_one aside h4 {
  font-size: 20px;
  list-style: 1;
  font-weight: 300;
  margin-bottom: 12px;
}
.footer_one .footer_nav {
  list-style: disc;
  margin-left: 18px;
}
.footer_one .footer_nav li:not(:last-child) {
  margin-bottom: 8px;
}
.footer_one .footer_nav a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #53ba00;
}
.footer_one .footer_nav a:hover {
  color: #181818;
}

/*--------------------------------------------------------------
# Others
--------------------------------------------------------------*/
.hero_sec {
  background-image: url(../images/bg-img/hero.jpeg);
  min-height: 100vh;
}
.hero_sec__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.hero_sec__content h1 {
  font-size: 75px;
  line-height: 1;
  font-weight: 300;
  margin-bottom: 35px;
  position: relative;
}
.hero_sec__content h1::after {
  content: " ";
  display: block;
  position: absolute;
  z-index: 5;
  top: -16px;
  left: 50%;
  right: 0;
  pointer-events: none;
  width: 90px;
  height: 2px;
  background-color: #53ba00;
  transform: translateX(-50%);
}
.hero_sec__content p {
  font-size: 23px;
  line-height: 34px;
  font-weight: 400;
  max-width: 630px;
  width: 100%;
  margin-bottom: 90px;
}

.info_sec_one {
  position: relative;
  padding: 172px 0;
  background-image: url(../images/bg-img/info-bg-1.jpeg);
}
.info_sec_one::before {
  content: " ";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
}
.info_sec_one .info_sec_one__content {
  position: relative;
  z-index: 3;
}
.info_sec_one .info_sec_one__content h2 {
  font-size: 60px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 30px;
}
.info_sec_one .info_sec_one__content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}

.service_one {
  position: relative;
  padding: 106px 0;
  background-image: url(../images/bg-img/service-one-bg.jpeg);
}
.service_one::before {
  content: " ";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-image: linear-gradient(to right top, transparent 33%, rgba(255, 255, 255, 0.5) 33%, rgba(255, 255, 255, 0.5) 66%, transparent 66%);
  background-size: 3px 3px;
  background-repeat: repeat;
}
.service_one > .container {
  position: relative;
  z-index: 2;
}
.service_one__leftCnt {
  position: relative;
  z-index: 2;
}
.service_one__leftCnt h2 {
  font-size: 60px;
  line-height: 1;
  font-weight: 300;
  margin-bottom: 30px;
}
.service_one__leftCnt > p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
.service_one__rightCnt {
  position: relative;
  z-index: 2;
}
.service_one__Items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.service_one__item {
  max-width: 240px;
  width: 100%;
  text-align: center;
}
.service_one__item h3 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 21px;
}
.service_one__item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.service_one .trackon_btn_1:nth-child(2) {
  background: #a6e72a;
  color: #181818;
}
.service_one .trackon_btn_1:nth-child(2):hover {
  background: #a6e72a !important;
}

.service_two {
  padding: 150px 0 188px;
  background-image: url(../images/bg-img/service-two-bg.jpeg);
}
.service_two__item {
  padding-left: 93px;
  position: relative;
}
.service_two__item > span {
  position: absolute;
  width: 73px;
  height: 73px;
  left: 0;
  top: 0;
  display: inline-block;
}
.service_two__item h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.service_two__item p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.client_one {
  position: relative;
  padding: 106px 0;
}
.client_one h2 {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: center;
}
.client_one p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}
.client_one__clientGrid {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
}
.client_one__clientGrid__item {
  display: inline-flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.client_one__clientGrid__item img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.client_one__clientGrid__item:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  cursor: pointer;
}
.client_one__clientGrid__item:nth-child(1) img {
  max-width: 373px;
  height: auto;
}

.subscribe_sec {
  padding: 100px 0;
  background-color: #FFFFFF;
}
.subscribe_sec .section_title {
  text-align: center;
}
.subscribe_sec .section_title h2 {
  color: #53ba00;
}
.subscribe_sec .section_title p {
  color: #53ba00;
}
.subscribe_sec .subscribe_form form {
  margin-top: 56px;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  column-gap: 10px;
}
.subscribe_sec .subscribe_form form input:not([type=checkbox]):not([type=radio]) {
  border-radius: 50px;
  font-size: 16px;
  line-height: 52px;
  padding: 0 20px;
  color: #181818;
  font-family: "Roboto", sans-serif;
  border: 1px solid rgba(24, 24, 24, 0.1);
  width: 340px;
  outline: unset;
  box-shadow: unset;
}
.subscribe_sec .subscribe_form form input:placeholder {
  color: #181818;
}
.subscribe_sec .subscribe_form form button[type=submit] {
  outline: unset;
  border: unset;
  box-shadow: unset;
  padding: 0 45px;
}

.getin_touch__one {
  padding: 150px 0;
  background-color: #53ba00;
  position: relative;
}
.getin_touch__one::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -moz-gradient(135deg, #a6e72a 20%, #53ba00 80%);
  background: -webkit-linear-gradient(135deg, #a6e72a 20%, #53ba00 80%);
  background: -webkit-linear-gradient(315deg, #a6e72a 20%, #53ba00 80%);
  background: -moz-linear-gradient(315deg, #a6e72a 20%, #53ba00 80%);
  background: linear-gradient(135deg, #a6e72a 20%, #53ba00 80%);
  z-index: 1;
}
.getin_touch__one > * {
  position: relative;
  z-index: 2;
}
.getin_touch__one .contactItems {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
}
.getin_touch__one .contactItems .contactItem {
  max-width: 190px;
  width: 100%;
  text-align: center;
}
.getin_touch__one .contactItems .contactItem h4 {
  font-size: 20px;
  line-height: 1;
  padding-bottom: 18px;
  margin-bottom: 19px;
  position: relative;
}
.getin_touch__one .contactItems .contactItem h4:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  width: 32px;
  height: 2px;
  background: #FFF;
  transform: translateX(-50%);
}
.getin_touch__one .contactItems .contactItem p {
  font-size: 14px;
  line-height: 21px;
}
.getin_touch__one .contactItems .contactItem:first-child {
  max-width: 155px;
}

.review_one {
  padding: 162px 0 175px;
  background-image: url(../images/bg-img/review-bg.jpeg);
}
.review_one__content {
  position: relative;
  text-align: center;
}
.review_one__content h2 {
  font-size: 60px;
  font-weight: 300;
  color: #53ba00;
  margin-bottom: 30px;
}
.review_one__content p {
  font-size: 20px;
  line-height: 30px;
}

.product_one {
  padding: 150px 0;
  background: #f1f1f1;
}
.product_one .product_item .pd_thumb {
  overflow: hidden;
  position: relative;
  border-bottom: 5px solid #7fd216;
  cursor: pointer;
}
.product_one .product_item .pd_thumb::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
}
.product_one .product_item .pd_thumb:hover:after {
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
}
.product_one .product_item .pd_thumb img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
  -moz-transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
}
.product_one .product_item .pd_thumb:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  -moz-transform: scale3d(1.1, 1.1, 1.1);
  -ms-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  cursor: pointer;
}
.product_one .product_item .pd_thumb a {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 0 15px;
  height: 33px;
  line-height: 33px;
  box-shadow: 0 0 0 2px #a6e72a inset;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  color: #a6e72a;
  z-index: 3;
  opacity: 0;
}
.product_one .product_item .pd_thumb a i {
  margin-left: 16px;
}
.product_one .product_item .pd_thumb a:hover {
  box-shadow: 0 0 0 1.5em #53ba00 inset, 0 3px 10px rgba(24, 24, 24, 0.3);
  color: #181818 !important;
}
.product_one .product_item .pd_thumb:hover a {
  opacity: 1;
}
.product_one .product_item .pd_cnt {
  padding: 16px 20px;
  background: #FFFFFF;
}
.product_one .product_item .pd_cnt h3 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 8px;
}
.product_one .product_item .pd_cnt p {
  font-size: 14px;
  line-height: 24px;
}

.product_filter__one {
  padding: 162px 0 50px;
  overflow: hidden;
}
.product_filter__one .shuffle_wrap {
  position: relative;
  overflow: visible !important;
}
.product_filter__one .shuf_item {
  position: relative;
  display: block;
  overflow: visible;
  text-align: center;
}
.product_filter__one .shuf_item .shuf_item_inner {
  position: relative;
}
.product_filter__one .shuf_item .shuf_item_inner > a {
  display: block;
  width: 100%;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-box-shadow: 0 0 0 rgba(24, 24, 24, 0.3);
  box-shadow: 0 0 0 rgba(24, 24, 24, 0.3);
  position: relative;
  z-index: 3;
}
.product_filter__one .shuf_item .shuf_item_inner > a img {
  width: 100%;
  height: auto;
  object-fit: cover;
  line-height: 0;
  -webkit-transition: transform 300ms ease;
  -moz-transition: transform 300ms ease;
  transition: transform 300ms ease;
  display: block;
}
.product_filter__one .shuf_item .shuf_item_inner > a:after {
  display: block;
  content: "";
  position: absolute;
  background: rgba(24, 24, 24, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
  pointer-events: none;
  opacity: 0;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  z-index: 4;
}
.product_filter__one .shuf_item .shuf_item_inner:hover > a:after {
  opacity: 1;
}
.product_filter__one .shuf_item .shuf_item_inner:hover > a {
  -webkit-box-shadow: 0 2px 20px rgba(24, 24, 24, 0.1);
  box-shadow: 0 2px 20px rgba(24, 24, 24, 0.1);
  border: 10px solid #FFFFFF;
  transform: scale(1.07);
  z-index: 4;
}
.product_filter__one .shuf_item .shuf_item_inner .pd_filterItem_cnt {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 2.5em;
  -webkit-transform: translateY(25%);
  -moz-transform: translateY(25%);
  -ms-transform: translateY(25%);
  transform: translateY(25%);
  -webkit-transition: 500ms ease all;
  -moz-transition: 500ms ease all;
  transition: 500ms ease all;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);
  z-index: 4;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  color: #FFFFFF;
}
.product_filter__one .shuf_item .shuf_item_inner .pd_filterItem_cnt h5 {
  font-size: 1.25em;
  font-weight: 700;
  color: inherit;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.2em;
  max-height: 2.4em;
  width: 100%;
  color: #FFFFFF;
  padding-bottom: 10px;
  margin-bottom: 11px;
  position: relative;
}
.product_filter__one .shuf_item .shuf_item_inner .pd_filterItem_cnt h5::after {
  content: " ";
  position: absolute;
  display: table;
  width: 52px;
  height: 2px;
  background: #53ba00;
  left: 50%;
  right: auto;
  bottom: 0;
  transform: translateX(-50%);
}
.product_filter__one .shuf_item .shuf_item_inner .pd_filterItem_cnt p {
  font-size: 16px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: 1.4em;
  max-height: 6.5em;
  width: 100%;
  margin: 0;
}
.product_filter__one .shuf_item .shuf_item_inner .pd_filterItem_cnt a {
  font-size: 14px;
  line-height: 1;
  padding: 10px 15px;
  font-weight: 500;
  background: #FFFFFF;
  border-radius: 50px;
  color: #181818;
  display: inline-block;
  margin-top: 18px;
}
.product_filter__one .shuf_item:hover {
  z-index: 1;
}
.product_filter__one .shuf_item:hover .pd_filterItem_cnt {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 1;
}

.lookbook_one {
  padding: 274px 0;
  background-image: url(../images/bg-img/lkbk-1.jpeg);
}

.mapsec_one {
  position: relative;
  overflow: hidden;
}
.mapsec_one .googleMap {
  width: 100%;
  min-height: 780px;
}
.mapsec_one .googleMap iframe {
  width: 100%;
  height: 100%;
  min-height: 780px;
}

#myInput {
  z-index: 99999;
}

.modal-dialog.searchModal {
  max-width: 100vw;
  height: 100vh;
  box-shadow: unset;
  border: unset;
  border-radius: unset;
  margin: 0;
}
.modal-dialog.searchModal .modal-content {
  height: 100vh;
  border: unset;
  border-radius: unset;
}
.modal-dialog.searchModal .modal-header {
  font-size: 35px;
  color: #53ba00;
  border: unset;
  padding: 40px;
}
.modal-dialog.searchModal .modal-header button {
  --bs-btn-close-color: #53ba00;
  color: #53ba00;
  box-shadow: unset;
  outline: unset;
  border: unset;
  background: unset;
}
.modal-dialog.searchModal .modal-header button i {
  font-size: 55px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
}
.modal-dialog.searchModal .modal-header button:hover i {
  transform: rotate(180deg);
}
.modal-dialog.searchModal .modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-dialog.searchModal .modal-body form {
  position: relative;
  max-width: 1008px;
  width: 100%;
}
.modal-dialog.searchModal .modal-body input[type=text] {
  padding: 0 2em 0 1em;
  height: 2.25em;
  line-height: 2.25em;
  font-size: 3em;
  font-weight: 300;
  border: none;
  text-align: left;
  -webkit-transition: 500ms ease all;
  -moz-transition: 500ms ease all;
  transition: 500ms ease all;
  color: #181818;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 24, 24, 0.1) inset;
  box-shadow: 0 0 0 2px rgba(24, 24, 24, 0.1) inset;
  max-width: 1008px;
  width: 100%;
}
.modal-dialog.searchModal .modal-body button {
  border: 0 !important;
  position: absolute;
  margin: 0;
  right: 0;
  top: 0;
  border-radius: 0;
  width: 6.75em;
  height: 6.75em;
  background: transparent !important;
  border: 0;
  cursor: pointer;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  box-shadow: unset;
  outline: unset;
  border: unset;
  color: rgba(24, 24, 24, 0.1);
}
.modal-dialog.searchModal .modal-body button i {
  font-size: 40px;
}
.modal-dialog.searchModal .modal-body button:hover i {
  color: #53ba00;
}

/*# sourceMappingURL=trackon.css.map */
